/* ----------------- */
/* DARK THEME COLORS */
/* ----------------- */

body {
    background-color: #002b36;
}

button {
    color: #eee8d5;
}

.case {
    background-color: #073642;
}

.display {
    background-color: #173746;
    border: 1px solid #839496;
    color: #839496;
}

.function, .pos-neg {
    background-color: #32596B;
}

.num, .dec {
    background-color: #244958;
}

.theme {
    background-color: #1B5E54;
}

.clear {
    background-color: #A1441C;
}

.eq {
    background-color: #627418;
}