/* ------------------ */
/* LIGHT THEME COLORS */
/* ------------------ */

body {
    background-color: #FCF6E5;
}

button {
    color: #073642;
}

.case {
    background-color: #eee8d5;
}

.display {
    background-color: #E5E4D4;
    border: 1px solid #839496;
    color: #839496;
}

.function, .pos-neg, .cent {
    background-color: #D7D7C9;
}

.num, .dec {
    background-color: #C0C4B3;
}

.theme {
    background-color: #6BA79D;
}

.clear-del {
    background-color: #E36C2C;
}

.eq {
    background-color: #AFBB52;
}