body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; margin: 0px;
    font-family: 'SourceCodePro', 'Courier New', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@font-face {
    font-family: 'SourceCodePro';
    src: url(./SourceCodePro.ttf);
}

/* ---------- */
/* CALC. CASE */
/* ---------- */

.case {
    display: flex;
    flex-flow: column;
    padding: 20px; margin: 0px;
    gap: 20px;
    border-radius: 10px;
}

/* ------------- */
/* CALC. DISPLAY */
/* ------------- */

.display {
    border-radius: 5px;
    height: 78px; width: 256px;
    padding: 5px; margin: 0px;
}

.formula {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 26px;
    font-size: 14px;
}

.product {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 52px;
    font-size: 36px;
}

.exceed-mem {
    color: #CB4239;
}

/* ------------ */
/* CALC. KEYPAD */
/* ------------ */

.keypad {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.row {
    display: flex;
    column-gap: 20px;
}

/* BUTTON HEIGHT & SHAPE */
button {
    border: none;
    border-radius: 5px;
    height: 42px;
    font-family: 'SourceCodePro', 'Courier New', monospace;
    font-size: 16px;
}

/* WIDTH ONLY */
.threeX {
    width: 76px;
}

/* WIDTH ONLY */
.fourX {
    width: 52px;
}

/* COLOR STYLING IN SEPARATE STYLESHEETS */