body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0px; margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ---------- */
/* CALC. CASE */
/* ---------- */

.case {
    display: flex;
    flex-flow: column;
    padding: 20px; margin: 0px;
    gap: 20px;
    border: 1px solid red;
    border-radius: 3px;
}

/* ------------- */
/* CALC. DISPLAY */
/* ------------- */

.display {
    border: 1px solid grey;
    height: 78px;
    padding: 5px; margin: 0px;
}

.ops {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 26px;
}

.ans {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 52px;
}

/* ------------ */
/* CALC. KEYPAD */
/* ------------ */

.keypad {
    display: flex;
    flex-flow: column;
    gap: 20px;
    border: 1px solid grey;
}

.row {
    display: flex;
    column-gap: 20px;
}

/* HEIGHT & GENERAL STYLING */
button {
    border: 1px solid yellow;
    height: 52px;
}

/* WIDTH ONLY */
.threeX {
    width: 76px;
}

/* WIDTH ONLY */
.fourX {
    width: 52px;
}

/* COLOR STYLING IN SEPARATE STYLESHEETS */